$phone: 575px;
$tablet: 800px;
$dark: #201e20;
$darkgray: #404040;
$midgray: #626262;
$lightgray: #b2b2b2;
$teal: #79facc;
$purple: #744dec;
$pink: #d141f2; 
@keyframes ButtonHover {
  from {
    background: none;
    color: $teal;
  }
  to {
    background: $teal;
    color: rgba(40, 40, 40, .95);
  }
}
@keyframes Appear {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 220px;
    opacity: 100%;
  }
}
@keyframes Appear2 {
  from {
    height: 0;
  }
  to {
    height: 250px;
  }
}
@keyframes Inputs {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 575px) {
  .Component {
    height: 98%;
    max-width: 450px;
    background-color: white;
    margin: 2% 3% 2% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .Search {
      width: 100%;
      height: 11%;
      display: flex;
      justify-content: space-between;
      .left:hover {
        animation-name: Inputs;
        animation-duration: .5s;
        .cover {
          display: none;
        }
        .inputs {
          display: flex;
          
        }
      }
      .left {
        height: 100%;
        width: 48%;
        background-color: $darkgray;
        border-radius: 2px;
        .inputs {
          height: 100%;
          width: 100%;
          text-align: center;
          display: none;
          flex-direction: column;
          justify-content: space-evenly;
          label {
            font-size: 1em;
            color:$teal;
            font-weight: 550;
            letter-spacing: .5px;
            font-family: Tahoma;
            font-stretch:extra-condensed;
          }
          .search {
            margin: 0px auto 0px auto;
            height: 25px;
            border-radius: 13px;
            width: 90%;
            background-color: #eee;
            display: grid;
            grid-template-columns: 15% 85%;
            text-align: center;
            svg {
              margin: 5px 0px 0px 4px;
              color:rgba(40, 40, 40, .95);
            }
            input{
              border: none;
              width: 80%;
              height: 98%;
              background: none;
              outline: none;
            }
          }
        }
        .cover {
          height: 100%;
          width: 100%;
          display: table;
          .text{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            h4{
              font-size: .8em;
              font-weight: 600;
              line-height: 0px;
              letter-spacing: .5px;
              font-family: Tahoma;
              font-stretch:extra-condensed;
            }
            .top{
              color: white;
              
            }
            .bottom{
              color: $teal;
            }
          }
          
        }
      }
      .right {
        background-color: $lightgray;
        height: 100%;
        width: 48%;
        border-radius: 2px;
        text-align: center;
        display: table;
        .text{
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          h4{
            font-size: .8em;
            font-weight: 600;
            line-height: 0px;
            letter-spacing: .5px;
            font-family: Tahoma;
            font-stretch:extra-condensed;
          }
          .top{
            color: white;
            
          }
          .bottom{
            color: $purple;
          }
        }
      }
    }
    .List{
      position: relative;
      vertical-align: bottom;
      height: 86%;
      width: 100%;
      background-color: $dark;
      border-radius: 2px;
      box-sizing:border-box;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      .alphabet {
        height: 97%;
        width: 13%;
        background-color: $midgray;
        border-radius: 2px;
        .alphaList {
          margin-top: 0px;
          height: 100%;
          list-style-type: none;
          padding-left: 0px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          .letter {
            font-size: .8em;
            cursor: pointer;
            div {
              color: white;
            }
          }
        }
      }
      .Info {
        position: fixed;
        height: 250px;
        width: 80%;
        padding: 8px;
        box-sizing:border-box;
        z-index: 1;
        background-color: rgba(40, 40, 40, .95);
        border-radius: 5px;
        display: grid;
        grid-template-rows: 50% 50%;
        animation-name: Appear2;
        animation-duration: .5s;
        .artcont{
          display: grid;
          grid-template-columns: 40% 15% 15% 30%;
          grid-template-rows: 30% 30% 20%;
          .grid1 {
            .albart{
              height:100px;
              width: 100px;
              overflow-x: hidden;
              margin-right: 10px;
            }
          }
          .grid2 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            justify-content: space-between;
            .play{
              cursor:pointer;
              width:24px; 
              height:24px; 
              color:white;
            }
          }
          .grid3 {
            text-align: right;
            grid-column-start: 4;
            grid-row-start: 1;
            grid-row-end: 2;
          }
          .grid4 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
            .selectSong {
              width: 100px;
              height: 20px;
              color: $teal;
              border: 1px solid $teal;
              border-radius: 15px;
              text-align: center;
              font-size: .8em;
              font-weight: bold;
              line-height: 150%;
              cursor: pointer;
            }
          }
        }
        .text {
          width:90%;
          height: 100%;
          .textRow{
            width:100%;
            .inf{
              font-size: .6em;
              font-weight: 500;
              line-height: normal;
              height: 25%;
              width:100%;
              color:white;
            }
            .label {
              font-size: .7em;
              font-weight: bold;
              line-height: 0px;
              color:white;
            }
          }
        }
      }
      .Tracks {
        height: 100%;
        width: 75%;
        .TrackLi:nth-child(3n+1){
          .Track {
            background-color: $purple;
            p{
              color: white;
            }
            .label {
              color: white;
            }
          }
        }
        .TrackLi:nth-child(3n+2){
          .Track {
            background-color: $teal;
            p{
              color: black;
            }
            .label {
              color: black;
            }
          }
          
        }
        .TrackLi:nth-child(3n+3){
          .Track {
            background-color: $pink;
            p{
              color: white;
            }
            .label {
              color: white;
            }
          }
        }
        ul::-webkit-scrollbar { 
          width: 0;
          display: none;
        }
        ul {
          width: 100%;
          margin-top: 0px;
          list-style-type: none;
          padding-left: 0px;
          overflow-y: auto;
          height: 100%;
          .group{
            display: inline-block;
            ul{
              overflow-y: visible;
            }
          }
          li {
            height: 70px;
            width: 100%;
            border-radius: 2px;
            .grouptitle {
              display: table;
              width: 100%;
              div {
                display: table-cell;
                width: 100%;
                text-align: center;
                vertical-align: bottom;
                color: white;
                font-size: .8em;
                font-weight: 600;
                line-height: 0px;
                letter-spacing: .5px;
                font-family: Tahoma;
                font-stretch:extra-condensed;
                display: inline-block;
              }
              
            }
            .Track {
              height:100%;
              width:100%;
              padding: 8px;
              margin-top: 10px;
              display: flex;
              box-sizing:border-box;
              .albart{
                height:55px;
                width: 55px;
                overflow-x: hidden;
                margin-right: 10px;
              }
              .text {
                width:75%;
                height: 100%;
                .textRow{
                  width:100%;
                  .inf{
                    font-size: .5em;
                    font-weight: 500;
                    line-height: 110%;
                    overflow-x: hidden;
                    white-space: nowrap; 
                    text-overflow: ellipsis;
                    height: 25%;
                    width:100%;
                  }
                  .label {
                    font-size: .5em;
                    font-weight: bold;
                    line-height: 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 576px) {
  .Component {
    width: 710px;
    height: 330px;
    top: 150px;
    background-color: $dark;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box;
    .Search {
      width: 100%;
      height: 22%;
      display: flex;
      justify-content: space-between;
      .left:hover {
        animation-name: Inputs;
        animation-duration: .5s;
        .cover {
          display: none;
        }
        .inputs {
          display: flex;
        }
      }
      .left{
        height: 100%;
        width: 49.5%;
        background-color: $darkgray;
        border-radius: 4px;
        cursor: pointer;
        .inputs {
          border-radius: 2px;
          height: 100%;
          width: 100%;
          top: 0px;
          text-align: center;
          display: none; 
          flex-direction: column;
          justify-content: space-evenly;
          animation: Inputs 1s;
          label {
            font-size: 1em;
            color:$teal;
            font-weight: 550;
            letter-spacing: .5px;
            font-family: Tahoma;
            font-stretch:extra-condensed;
          }
          .search {
            margin: 0px auto 0px auto;
            height: 20px;
            border-radius: 13px;
            width: 60%;
            background-color: #eee;
            display: grid;
            grid-template-columns: 15% 85%;
            text-align: center;
            svg {
              margin: 3px 0px 0px 4px;
              color:rgba(40, 40, 40, .95);
            }
            input{
              border: none;
              width: 85%;
              height: 100%;
              background: none;
              outline: none;
              font-family: Tahoma;
              line-height: none;
            }
          }
        }
        .cover {
          z-index: 1;
          height: 100%;
          width: 100%;
          text-align: center;
          display: table;
          .text{
            display: table-cell;
            height: 50%;
            text-align: center;
            vertical-align: middle;
            h4{
              font-size: .8em;
              font-weight: 600;
              line-height: 0px;
              letter-spacing: .5px;
              font-family: Tahoma;
              font-stretch:extra-condensed;
            }
            .top{
              color: white;
              
            }
            .bottom{
              color: $teal;
            }
          }
        }
      }
      .right {
        background-color: $lightgray;
        height: 100%;
        width: 49.5%;
        border-radius: 4px;
        text-align: center;
        box-sizing: border-box;
        display: table;
        .text{
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          h4{
            font-size: .8em;
            font-weight: 600;
            line-height: 0px;
            letter-spacing: .5px;
            font-family: Tahoma;
            font-stretch:extra-condensed;
          }
          .top{
            color: white;
            
          }
          .bottom{
            color: $purple;
          }
        }
      }
    }
    .List{
      position: relative;
      vertical-align: bottom;
      height: 230px;
      width: 100%;
      background-color: $darkgray;
      border-radius: 3px;
      box-sizing:border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .Info {
        position: fixed;
        height: 220px;
        width: 350px;
        left: 32.5%;
        margin: 0px auto 0px auto;
        padding: 8px;
        box-sizing:border-box;
        z-index: 1;
        background-color: rgba(40, 40, 40, .95);
        border-radius: 5px;
        display: grid;
        grid-template-rows: 50% 50%;
        animation-name: Appear;
        animation-duration: 1s;
        .artcont{
          display: grid;
          grid-template-columns: 40% 15% 15% 30%;
          grid-template-rows: 30% 30% 20%;
          .grid1 {
            .albart{
              height:100px;
              width: 100px;
              overflow-x: hidden;
              margin-right: 10px;
            }
          }
          .grid2 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            justify-content: space-between;
            .play{
              cursor:pointer;
              width:24px; 
              height:24px; 
              color:white;
            }
          }
          .grid3 {
            text-align: right;
            grid-column-start: 4;
            grid-row-start: 1;
            grid-row-end: 2;
          }
          .grid4 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
            .selectSong {
              width: 100px;
              height: 20px;
              color: $teal;
              border: 1px solid $teal;
              border-radius: 15px;
              text-align: center;
              font-size: .8em;
              font-weight: bold;
              line-height: 150%;
              cursor: pointer;
            }
            .selectSong:hover {
              color: rgba(40, 40, 40, .95);
              background-color: $teal;
              animation-name: ButtonHover;
              animation-duration: .5s;
            }
          }
        }
        .text {
          width:90%;
          height: 100%;
          .textRow{
            width:100%;
            .inf{
              font-size: .5em;
              font-weight: 500;
              line-height: normal;
              height: 25%;
              width:100%;
              color:white;
            }
            .label {
              font-size: .6em;
              font-weight: bold;
              line-height: 0px;
              color:white;
            }
          }
        }
      }
      .alphabet {
        background-color: $midgray;
        height: 40px;
        width: 97%;
        border-radius: 2px;
        margin: 0px auto;
        .alphaList {
          width: 100%;
          margin-top: 12px;
          list-style-type: none;
          padding-left: 0px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .letter {
            cursor: pointer;
            div {
              color: white;
            }
            div:hover {
              color: $teal;
            }
          }
        }
      }
      .Tracks {
        height: 155px;
        width: 100%;
        box-sizing:border-box;
        
        .TrackLi:nth-child(3n+1){
          .Track {
            background-color: $purple;
            p{
              color: white;
            }
            .label {
              color: white;
            }
          }
        }
        .TrackLi:nth-child(3n+2){
          .Track {
            background-color: $teal;
            p{
              color: black;
            }
            .label {
              color: black;
            }
          }
          
        }
        .TrackLi:nth-child(3n+3){
          .Track {
            background-color: $pink;
            p{
              color: white;
            }
            .label {
              color: white;
            }
          }
        }
        ul::-webkit-scrollbar {
          
          height: 8px;
          width: 96%;
        }
        ul::-webkit-scrollbar-thumb {
          background-color: #eee;
          border-radius: 4px;
        }
        ul::-webkit-scrollbar-track {
          margin: 0px 10px 0px 10px;
          width: 96%;
          background-color: $midgray;
          border-radius: 4px;
        }
        ul::-webkit-scrollbar-thumb {
          background-color: #eee;
          border-radius: 4px;
        }
        ul {
          list-style-type: none;
          padding-left: 0px;
          overflow-x: auto;
          display: flex;
          height: 155px;
          width: 100%;
          margin-top:0px;
          .group{
            height: 140px;
            display: flex;
            width: auto;
            .grouptitle {
              display: table;
              height: 100%;
              div{
                display: table-cell;
                vertical-align: middle;
                width: 10px;
                text-align: right;
                color: white;
                font-size: .8em;
                font-weight: 600;
                line-height: 0px;
                letter-spacing: .5px;
                font-family: Tahoma;
                font-stretch:extra-condensed;
              }
            }
            ul {
              height:140px;
              display: flex;
              overflow-x: visible;
              li{
                height: 140px;
                width: 140px;
                margin-left: auto;
                margin-right: auto;
                display: table;
                box-sizing: border-box;
              }
            }
          }
          .TrackLi:hover {
            padding:2.5px;
            .Track {
              height:135px;
              width:135px;
              .artcont {
                .albart{
                  width:55px;
                  height: 55px;
                }
              }
              .text {
                .textRow{
                  .inf{
                    font-size: .6em;
                  }
                  .label {
                    font-size: .6em;
                  }
                }
              }
            }
          }
          .TrackLi {
            height: 140px;
            width: 140px;
            border-radius: 3px;
            display: table;
            padding:5px;
            box-sizing: border-box;
            .Track {
              padding:8px;
              height: 130px;
              width: 130px;
              display:table-cell;
              display: grid;
              vertical-align: middle;
              grid-template-rows: 50%;
              box-sizing:border-box;
              border-radius: 3px;
              cursor: pointer;
              .artcont {
                .albart{
                  width:50px;
                  height: 50px;
                }
              }
              .text {
                width: 100%;
                .textRow{
                  .inf{
                    font-size: .5em;
                    font-weight: 500;
                    line-height: normal;
                    width: 100px;
                    overflow-x: hidden;
                    white-space: nowrap; 
                    text-overflow: ellipsis;
                  }
                  .label {
                    font-size: .5em;
                    font-weight: bold;
                    line-height: 0%;
                  }
                }
              }
            }
          }
        }
      } 
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

