@keyframes ButtonHover {
  from {
    background: none;
    color: #79facc;
  }
  to {
    background: #79facc;
    color: rgba(40, 40, 40, 0.95);
  }
}
@keyframes Appear {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 220px;
    opacity: 100%;
  }
}
@keyframes Appear2 {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 250px;
    opacity: 0;
  }
}
@keyframes Inputs {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 575px) {
  .Component {
    height: 98%;
    max-width: 450px;
    background-color: white;
    margin: 2% 3% 2% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .Component .Search {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
  }
  .Component .Search .left:hover {
    animation-name: Inputs;
    animation-duration: 0.5s;
  }
  .Component .Search .left:hover .cover {
    display: none;
  }
  .Component .Search .left:hover .inputs {
    display: flex;
  }
  .Component .Search .left {
    height: 100%;
    width: 48%;
    background-color: #404040;
    border-radius: 2px;
  }
  .Component .Search .left .inputs {
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .Component .Search .left .inputs label {
    font-size: 1em;
    color: #79facc;
    font-weight: 550;
    letter-spacing: 0.5px;
    font-family: Tahoma;
    font-stretch: extra-condensed;
  }
  .Component .Search .left .inputs .search {
    margin: 0px auto 0px auto;
    height: 25px;
    border-radius: 13px;
    width: 90%;
    background-color: #eee;
    display: grid;
    grid-template-columns: 15% 85%;
    text-align: center;
  }
  .Component .Search .left .inputs .search svg {
    margin: 5px 0px 0px 4px;
    color: rgba(40, 40, 40, 0.95);
  }
  .Component .Search .left .inputs .search input {
    border: none;
    width: 80%;
    height: 98%;
    background: none;
    outline: none;
  }
  .Component .Search .left .cover {
    height: 100%;
    width: 100%;
    display: table;
  }
  .Component .Search .left .cover .text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .Component .Search .left .cover .text h4 {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.5px;
    font-family: Tahoma;
    font-stretch: extra-condensed;
  }
  .Component .Search .left .cover .text .top {
    color: white;
  }
  .Component .Search .left .cover .text .bottom {
    color: #79facc;
  }
  .Component .Search .right {
    background-color: #b2b2b2;
    height: 100%;
    width: 48%;
    border-radius: 2px;
    text-align: center;
    display: table;
  }
  .Component .Search .right .text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .Component .Search .right .text h4 {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.5px;
    font-family: Tahoma;
    font-stretch: extra-condensed;
  }
  .Component .Search .right .text .top {
    color: white;
  }
  .Component .Search .right .text .bottom {
    color: #744dec;
  }
  .Component .List {
    position: relative;
    vertical-align: bottom;
    height: 86%;
    width: 100%;
    background-color: #201e20;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .Component .List .alphabet {
    height: 97%;
    width: 13%;
    background-color: #626262;
    border-radius: 2px;
  }
  .Component .List .alphabet .alphaList {
    margin-top: 0px;
    height: 100%;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .Component .List .alphabet .alphaList .letter {
    font-size: 0.8em;
    cursor: pointer;
  }
  .Component .List .alphabet .alphaList .letter div {
    color: white;
  }
  .Component .List .Info {
    position: fixed;
    height: 250px;
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
    z-index: 1;
    background-color: rgba(40, 40, 40, 0.95);
    border-radius: 5px;
    display: grid;
    grid-template-rows: 50% 50%;
    animation-name: Appear2;
    animation-duration: 1s;
  }
  .Component .List .Info .artcont {
    display: grid;
    grid-template-columns: 40% 15% 15% 30%;
    grid-template-rows: 30% 30% 20%;
  }
  .Component .List .Info .artcont .grid1 .albart {
    height: 100px;
    width: 100px;
    overflow-x: hidden;
    margin-right: 10px;
  }
  .Component .List .Info .artcont .grid2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-between;
  }
  .Component .List .Info .artcont .grid2 .play {
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: white;
  }
  .Component .List .Info .artcont .grid3 {
    text-align: right;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Component .List .Info .artcont .grid4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
  }
  .Component .List .Info .artcont .grid4 .selectSong {
    width: 100px;
    height: 20px;
    color: #79facc;
    border: 1px solid #79facc;
    border-radius: 15px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 150%;
    cursor: pointer;
  }
  .Component .List .Info .text {
    width: 90%;
    height: 100%;
  }
  .Component .List .Info .text .textRow {
    width: 100%;
  }
  .Component .List .Info .text .textRow .inf {
    font-size: 0.6em;
    font-weight: 500;
    line-height: normal;
    height: 25%;
    width: 100%;
    color: white;
  }
  .Component .List .Info .text .textRow .label {
    font-size: 0.7em;
    font-weight: bold;
    line-height: 0px;
    color: white;
  }
  .Component .List .Tracks {
    height: 100%;
    width: 75%;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+1) .Track {
    background-color: #744dec;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+1) .Track p {
    color: white;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+1) .Track .label {
    color: white;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+2) .Track {
    background-color: #79facc;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+2) .Track p {
    color: black;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+2) .Track .label {
    color: black;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+3) .Track {
    background-color: #d141f2;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+3) .Track p {
    color: white;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+3) .Track .label {
    color: white;
  }
  .Component .List .Tracks ul::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  .Component .List .Tracks ul {
    width: 100%;
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0px;
    overflow-y: auto;
    height: 100%;
  }
  .Component .List .Tracks ul .group {
    display: inline-block;
  }
  .Component .List .Tracks ul .group ul {
    overflow-y: visible;
  }
  .Component .List .Tracks ul li {
    height: 70px;
    width: 100%;
    border-radius: 2px;
  }
  .Component .List .Tracks ul li .grouptitle {
    display: table;
    width: 100%;
  }
  .Component .List .Tracks ul li .grouptitle div {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.5px;
    font-family: Tahoma;
    font-stretch: extra-condensed;
    display: inline-block;
  }
  .Component .List .Tracks ul li .Track {
    height: 100%;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    display: flex;
    box-sizing: border-box;
  }
  .Component .List .Tracks ul li .Track .albart {
    height: 55px;
    width: 55px;
    overflow-x: hidden;
    margin-right: 10px;
  }
  .Component .List .Tracks ul li .Track .text {
    width: 75%;
    height: 100%;
  }
  .Component .List .Tracks ul li .Track .text .textRow {
    width: 100%;
  }
  .Component .List .Tracks ul li .Track .text .textRow .inf {
    font-size: 0.5em;
    font-weight: 500;
    line-height: 110%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 25%;
    width: 100%;
  }
  .Component .List .Tracks ul li .Track .text .textRow .label {
    font-size: 0.5em;
    font-weight: bold;
    line-height: 0px;
  }
}
@media (min-width: 576px) {
  .Component {
    width: 710px;
    height: 330px;
    top: 150px;
    background-color: #201e20;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .Component .Search {
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: space-between;
  }
  .Component .Search .left:hover {
    animation-name: Inputs;
    animation-duration: 0.5s;
  }
  .Component .Search .left:hover .cover {
    display: none;
  }
  .Component .Search .left:hover .inputs {
    display: flex;
  }
  .Component .Search .left {
    height: 100%;
    width: 49.5%;
    background-color: #404040;
    border-radius: 4px;
    cursor: pointer;
  }
  .Component .Search .left .inputs {
    border-radius: 2px;
    height: 100%;
    width: 100%;
    top: 0px;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    animation: Inputs 1s;
  }
  .Component .Search .left .inputs label {
    font-size: 1em;
    color: #79facc;
    font-weight: 550;
    letter-spacing: 0.5px;
    font-family: Tahoma;
    font-stretch: extra-condensed;
  }
  .Component .Search .left .inputs .search {
    margin: 0px auto 0px auto;
    height: 20px;
    border-radius: 13px;
    width: 60%;
    background-color: #eee;
    display: grid;
    grid-template-columns: 15% 85%;
    text-align: center;
  }
  .Component .Search .left .inputs .search svg {
    margin: 3px 0px 0px 4px;
    color: rgba(40, 40, 40, 0.95);
  }
  .Component .Search .left .inputs .search input {
    border: none;
    width: 85%;
    height: 100%;
    background: none;
    outline: none;
    font-family: Tahoma;
    line-height: none;
  }
  .Component .Search .left .cover {
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
  }
  .Component .Search .left .cover .text {
    display: table-cell;
    height: 50%;
    text-align: center;
    vertical-align: middle;
  }
  .Component .Search .left .cover .text h4 {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.5px;
    font-family: Tahoma;
    font-stretch: extra-condensed;
  }
  .Component .Search .left .cover .text .top {
    color: white;
  }
  .Component .Search .left .cover .text .bottom {
    color: #79facc;
  }
  .Component .Search .right {
    background-color: #b2b2b2;
    height: 100%;
    width: 49.5%;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    display: table;
  }
  .Component .Search .right .text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .Component .Search .right .text h4 {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.5px;
    font-family: Tahoma;
    font-stretch: extra-condensed;
  }
  .Component .Search .right .text .top {
    color: white;
  }
  .Component .Search .right .text .bottom {
    color: #744dec;
  }
  .Component .List {
    position: relative;
    vertical-align: bottom;
    height: 230px;
    width: 100%;
    background-color: #404040;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .Component .List .Info {
    position: fixed;
    height: 220px;
    width: 350px;
    left: 32.5%;
    margin: 0px auto 0px auto;
    padding: 8px;
    box-sizing: border-box;
    z-index: 1;
    background-color: rgba(40, 40, 40, 0.95);
    border-radius: 5px;
    display: grid;
    grid-template-rows: 50% 50%;
    animation-name: Appear;
    animation-duration: 1s;
  }
  .Component .List .Info .artcont {
    display: grid;
    grid-template-columns: 40% 15% 15% 30%;
    grid-template-rows: 30% 30% 20%;
  }
  .Component .List .Info .artcont .grid1 .albart {
    height: 100px;
    width: 100px;
    overflow-x: hidden;
    margin-right: 10px;
  }
  .Component .List .Info .artcont .grid2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-between;
  }
  .Component .List .Info .artcont .grid2 .play {
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: white;
  }
  .Component .List .Info .artcont .grid3 {
    text-align: right;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Component .List .Info .artcont .grid4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
  }
  .Component .List .Info .artcont .grid4 .selectSong {
    width: 100px;
    height: 20px;
    color: #79facc;
    border: 1px solid #79facc;
    border-radius: 15px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 150%;
    cursor: pointer;
  }
  .Component .List .Info .artcont .grid4 .selectSong:hover {
    color: rgba(40, 40, 40, 0.95);
    background-color: #79facc;
    animation-name: ButtonHover;
    animation-duration: 0.5s;
  }
  .Component .List .Info .text {
    width: 90%;
    height: 100%;
  }
  .Component .List .Info .text .textRow {
    width: 100%;
  }
  .Component .List .Info .text .textRow .inf {
    font-size: 0.5em;
    font-weight: 500;
    line-height: normal;
    height: 25%;
    width: 100%;
    color: white;
  }
  .Component .List .Info .text .textRow .label {
    font-size: 0.6em;
    font-weight: bold;
    line-height: 0px;
    color: white;
  }
  .Component .List .alphabet {
    background-color: #626262;
    height: 40px;
    width: 97%;
    border-radius: 2px;
    margin: 0px auto;
  }
  .Component .List .alphabet .alphaList {
    width: 100%;
    margin-top: 12px;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .Component .List .alphabet .alphaList .letter {
    cursor: pointer;
  }
  .Component .List .alphabet .alphaList .letter div {
    color: white;
  }
  .Component .List .alphabet .alphaList .letter div:hover {
    color: #79facc;
  }
  .Component .List .Tracks {
    height: 155px;
    width: 100%;
    box-sizing: border-box;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+1) .Track {
    background-color: #744dec;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+1) .Track p {
    color: white;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+1) .Track .label {
    color: white;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+2) .Track {
    background-color: #79facc;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+2) .Track p {
    color: black;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+2) .Track .label {
    color: black;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+3) .Track {
    background-color: #d141f2;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+3) .Track p {
    color: white;
  }
  .Component .List .Tracks .TrackLi:nth-child(3n+3) .Track .label {
    color: white;
  }
  .Component .List .Tracks ul::-webkit-scrollbar {
    height: 8px;
    width: 96%;
  }
  .Component .List .Tracks ul::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 4px;
  }
  .Component .List .Tracks ul::-webkit-scrollbar-track {
    margin: 0px 10px 0px 10px;
    width: 96%;
    background-color: #626262;
    border-radius: 4px;
  }
  .Component .List .Tracks ul::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 4px;
  }
  .Component .List .Tracks ul {
    list-style-type: none;
    padding-left: 0px;
    overflow-x: auto;
    display: flex;
    height: 155px;
    width: 100%;
    margin-top: 0px;
  }
  .Component .List .Tracks ul .group {
    height: 140px;
    display: flex;
    width: auto;
  }
  .Component .List .Tracks ul .group .grouptitle {
    display: table;
    height: 100%;
  }
  .Component .List .Tracks ul .group .grouptitle div {
    display: table-cell;
    vertical-align: middle;
    width: 10px;
    text-align: right;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.5px;
    font-family: Tahoma;
    font-stretch: extra-condensed;
  }
  .Component .List .Tracks ul .group ul {
    height: 140px;
    display: flex;
    overflow-x: visible;
  }
  .Component .List .Tracks ul .group ul li {
    height: 140px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    box-sizing: border-box;
  }
  .Component .List .Tracks ul .TrackLi:hover {
    padding: 2.5px;
  }
  .Component .List .Tracks ul .TrackLi:hover .Track {
    height: 135px;
    width: 135px;
  }
  .Component .List .Tracks ul .TrackLi:hover .Track .artcont .albart {
    width: 55px;
    height: 55px;
  }
  .Component .List .Tracks ul .TrackLi:hover .Track .text .textRow .inf {
    font-size: 0.6em;
  }
  .Component .List .Tracks ul .TrackLi:hover .Track .text .textRow .label {
    font-size: 0.6em;
  }
  .Component .List .Tracks ul .TrackLi {
    height: 140px;
    width: 140px;
    border-radius: 3px;
    display: table;
    padding: 5px;
    box-sizing: border-box;
  }
  .Component .List .Tracks ul .TrackLi .Track {
    padding: 8px;
    height: 130px;
    width: 130px;
    display: table-cell;
    display: grid;
    vertical-align: middle;
    grid-template-rows: 50%;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
  }
  .Component .List .Tracks ul .TrackLi .Track .artcont .albart {
    width: 50px;
    height: 50px;
  }
  .Component .List .Tracks ul .TrackLi .Track .text {
    width: 100%;
  }
  .Component .List .Tracks ul .TrackLi .Track .text .textRow .inf {
    font-size: 0.5em;
    font-weight: 500;
    line-height: normal;
    width: 100px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .Component .List .Tracks ul .TrackLi .Track .text .textRow .label {
    font-size: 0.5em;
    font-weight: bold;
    line-height: 0%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=App.css.map */
